*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
}

body {
  width: 800px;
  margin: 25px auto;
}

.dashboard {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  margin: 10px auto;
  width: 500px;
  border: 1px solid #ccc;
}

.widget-item {
  padding: 50px 20px;
  margin: 5px;
  text-align: center;
  color: #555;
  background: #ddd;
  border: 1px solid #ccc;
  box-sizing: border-box;
  transition: 0.25s;
  cursor: move;
}
.widget-1 {
  pointer-events: none;
  width: 252px;
}
.widget-2 {
  pointer-events: none;
  width: 100px;
}
.drag-start {
  opacity: 0.8;
}
.drag-enter {
  opacity: 0.5;
  transform: scale(0.9);
}
